# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://bcpgtolkkvurudyjyzxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjcGd0b2xra3Z1cnVkeWp5enh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzOTY1ODUsImV4cCI6MjA4NTk3MjU4NX0.jQOwXkEjO_8ernD-2BD-tcY_a47dLemuxc8xSO0J49s"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# Gemini AI
GEMINI_API_KEY="your-gemini-api-key"
